body {
    background-image: url("https://img1.goodfon.ru/wallpaper/nbig/d/25/zenit-fc-zenit-zenit-fk-zenit.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #AC35D5;
}